body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom, #333, #666);
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #444;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.produto img:hover {
    transform: scale(1.1);
}

footer {
    background: linear-gradient(to bottom, #333, #666);
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

footer:hover {
    background-color: #444;
}
